.main{
    margin: 0 auto;
    background: #192a56 ;
    padding: 15%;
    height: 90vh;

}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.3em;
    font-weight: bold;
    color:white;
}
.p{
    font-weight: bold;
    color:white;
}
.main2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color:#124348;
    padding: 40px 0 10px 0;
}
.main3{
    text-align: center;
    font-family: sans-serif;
    font-size: 19.738px;
    color:#124348;
    padding: 66px 0 66px 0;
}
.main4{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color:#192a56;
    font-weight: bold;
    padding:50px
}


.cnmain{
    margin: 0 auto;
    background: #e1006a ;
    padding: 15%;
    height: 90vh;

}
.cnh1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color:white;
}
.cnp{
    font-weight: bold;
    color:white;
    font-size: 1em;
}
.cnmain2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color:#e1006a;
    padding: 40px 0 10px 0;
}
.cnmain3{
    text-align: center;
    font-family: sans-serif;
    font-size: 19.738px;
    color:#e1006a;
    padding: 66px 0 66px 0;
}
.cnmain4{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color:#e1006a;
    font-weight: bold;
    padding:50px
}


.bcmain{
    margin: 0 auto;
    background: #fbc314 ;
    padding: 15%;
    height: 90vh;
}
.bch1{
    font-size: 5vw;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
}
.bcp{
    font-weight: bold;
    color:#252525;
}
.bcmain2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color:#000;
    padding: 40px 0 10px 0;
}
.bcmain3{
    text-align: center;
    font-family: sans-serif;
    font-size: 19.738px;
    color:#000000;
    padding: 66px 0 66px 0;
}
.bcmain4{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color:#192a56;
    font-weight: bold;
    padding:50px
}


.iotmain{
    margin: 0 auto;
    background: #1b8f8b ;
    padding: 15%;
    height: 90vh;
}
.ioth1{
    // font-family: Arial, Helvetica, sans-serif;
    // font-size: 5em;
    // font-weight: normal;
    color:white;

    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    word-spacing: normal;
}
.iotp{
    font-weight: bold;
    color:white;
}
.iotmain2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color:#000;
    padding: 40px 0 10px 0;
}
.iotmain3{
    text-align: center;
    font-family: sans-serif;
    font-size: 19.738px;
    color:#000000;
    padding: 66px 0 66px 0;
}
.iotmain4{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color:#192a56;
    font-weight: bold;
    padding:50px
}